*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header .banner-container{
    position: relative;
    width: 100%;
    height: auto;
}

.banner-container img{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-container .heading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate;
    max-width: 525px;
    /* margin: 0 auto; */
    top: 216px;
    right: 230px;
    bottom: 166px;
    left: 865px;
    border-radius: 5px;
}

.banner-container .heading-text h2{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
    text-align: right;
}

.banner-container .heading-text p{
    max-width: 494px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
    text-align: right;
}
    
.banner-container .heading-text .btn{
    text-align: right;
    
}

.banner-container .heading-text .btn-orange{
    background-color: #F15B22;
    border: none;
    padding: 21px 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

#background{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 131px;
    display: flex;
    align-items: center;
    gap: 87px;
}

#background .background-img img{
    max-width: 569px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#background .background-text{
    max-width: 416px;
}

.background-text h3{
    width: 288px;
   font-size: 40px;
   font-weight: bold;
   color: #151414;
   margin-bottom: 24px;
}

.background-text p{
    width: 416px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.background-text .para{
    max-width: 349px;

}

.background-text .para .para-text{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

#skill{
    width: 100%;
    margin: 0 auto;
    height: auto;
}

#skill .skill-heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 130px;
}

#skill .skill-cart{
    max-width: 1141px;
    display: flex;
    justify-content: space-evenly;
    gap: 86px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

#skill .skill-cart .skill-name img{
    width: 92.96px;
    margin-bottom: 16px;
    align-items: center;
}

#skill .skill-cart .skill-name h4{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 16px;
}

#skill .skill-cart .skill-name p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

#down-banner{
    width: 1140px;
    height: 300px;
    background-image: url(../images/gradient2.png) , url(../images/watch.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 130px;
    background-size: contain;
    background-position: center;
}

#down-banner .banner-text{
    /* max-width: 459px; */
    padding-top: 59px;
    padding-left: 64px;
}

#down-banner .banner-text h2{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.btn-white{
    max-width: 160px;
    background-color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    padding: 21px 36px;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    width: 1600px;
    height: 577px;
    background-color: #151414;
    margin-top: 130px;
    /* display: flex;
    justify-content: space-between; */

}

footer #footer{
    margin: 0 auto;
    max-width: 1141px;
    display: flex;
    justify-content: space-between;
    gap: 331px;
    align-items: center;
}

#footer .left{
    max-width: 485px;
    padding-top: 130px;
}

.left h3{
    max-width: 148px;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 16px;
    color: #F8F8F8;
}

.left p{
    width: 485px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.left h6{
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.left .social{
    display: flex;
    width: 47px;
    gap: 17px;

}

#footer .right{
    width: 325px;
    padding-top: 40px;
}

.right h5{
    width: 123px;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 31px;
}

.right input{
    background-color: #151414;
    width: 325px;
    height: 64px;
    font-size: 18px;
    color: #F3F3F3;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: auto;
    padding-left: 21px;
    margin-bottom: 16px;
}

::placeholder{
    color: #F3F3F3;
}

.right .btn-footer{
    width: 170.1px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}